@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

@layer base {
  .arr {
    @apply w-8;
  }
  .with-animate {
    @apply relative;
    &:before {
      @apply absolute left-0 top-0 bottom-0 w-0 bg-gray-500/5;
      animation: slide 3.5s forwards;
      content: '';
    }
  }
  @-webkit-keyframes slide {
    100% {
      width: 100%;
    }
  }

  @keyframes slide {
    100% {
      width: 100%;
    }
  }
  .menu-open-false {
    @apply hidden;
  }
  .with-open-menu {
    .menu-open-true {
      @apply hidden;
    }
    .menu-open-false {
      @apply block;
    }
  }
  a {
    @apply cursor-pointer;
  }
  .mainmenu-item:not(.active) {
    display: none !important;
  }
  [disabled],
  .is-disabled {
    @apply opacity-50 cursor-not-allowed;
  }
  .ant-image-preview-img {
    max-height: calc(100vh - 200px) !important;
    max-width: calc(100vw - 80px) !important;
  }
  .only-mobi {
    @apply lg:hidden;
  }

  body {
    font-family: 'Inter', sans-serif;
    .menu-closer,
    .menu-opener {
      @apply hidden;
    }

    &.menu-mode-2 {
      .mode-1 {
        @apply hidden;
      }
      .mode-2 {
        @apply block;
        + .nav-contact > div:first-child {
          @apply hidden;
        }
      }
      nav,
      .mode-2 {
        background: #82daeb !important;
      }
      nav ul li {
        border-color: #7bd2e4 !important;
      }
    }

    &.with-open-mmenu {
      @apply overflow-hidden;
      .menu-closer {
        @apply block;
      }
      .menu-opener {
        @apply hidden;
      }
      .mobi-button {
        @apply flex;
      }
      .animate-ping.mobi-call {
        z-index: 250 !important;
      }
      nav {
        @apply fixed top-[60px] bg-[#dbf4f9];

        ul {
          @apply -mx-6 px-6;
        }
        .nav-contact {
          @apply block;
        }

        .social-links {
          @apply top-0 border-t mx-6 pt-6;
          position: absolute;
          margin-top: 0;
          left: 0;
          right: 0;
          display: flex;
          justify-content: center;
          gap: 40px;
        }
      }
    }
    &.with-open-menu {
      @apply overflow-hidden;
      &:before {
        @apply fixed left-0 right-0 bottom-0 top-[100px] bg-black/20 z-10;
        content: '';
      }
      .menu {
        @apply block;
      }
    }
  }
  .radio-card {
    @apply relative border rounded py-2 px-4 text-sm text-[#7C7C7C] h-full flex flex-col gap-3 pr-6 leading-[1.3] select-none;
    label {
      @apply cursor-pointer;
    }
    input {
      @apply absolute right-2 top-2;
    }
  }
  .ir {
    @apply mb-8 relative;
  }
  .is-error .input {
    @apply border-red-600;
  }
  .error {
    @apply text-[10px] text-red-600 absolute bottom-[-16px];
  }
  .box {
    @apply mb-10;
  }
  .box-lg {
    @apply mb-[110px];
  }

  strong,
  .strong,
  b {
    @apply font-semibold;
  }
  .box-links svg {
    color: #00b3d7;
  }

  [role='region'] {
    width: 100%;
    max-height: 98vh;
    overflow-x: auto;
  }
  .gap {
    gap: 2rem;
  }
  .carousel {
    img {
      @apply object-contain mx-auto;
    }
  }
  .products-grid .card-product {
    @apply w-full min-w-[initial];
  }
  .box-scroll2 {
    scroll-margin-top: 80px;
  }
  .hoverable,
  header a,
  .box-promo a {
    @apply hover:text-blue;
  }
  .promo-bg {
    @apply -inset-0 absolute w-full h-full object-cover;
  }
  .slider-bg {
    @apply -inset-0 absolute w-full h-full object-cover object-right;
  }
  svg.active {
    @apply text-blue;
  }
  .input {
    @apply border border-blue rounded leading-10 py-0 px-4 w-full outline-none text-sm font-medium;
    scroll-margin-top: 110px;
  }
  textarea.input {
    @apply leading-5 py-4;
  }
  .checkbox-wrap {
    @apply relative cursor-pointer;
  }
  input[type='checkbox1'] {
    @apply w-8 h-8 rounded border border-lightgray appearance-none cursor-pointer;
    &.is-small {
      @apply w-5 h-5;
      + div svg {
        @apply w-3 h-3;
      }
    }
    + div {
      @apply absolute inset-0 flex items-center justify-center;
      z-index: -1;
      > svg {
        @apply scale-0;
      }
    }
    &:checked {
      + div svg {
        @apply scale-100;
      }
    }
  }
  .slider .swiper-pagination span {
    &.swiper-pagination-bullet-active:before {
      @apply bg-white;
    }
  }
  .swiper-pagination {
    bottom: 0 !important;
    .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
      opacity: 0.6;
    }
    span {
      @apply w-8 h-8 bg-transparent relative;
      margin: 0 3px !important;
      &.swiper-pagination-bullet-active:before {
        @apply bg-blue;
      }

      &:before {
        content: '';
        transform: translate(-50%, -50%);
        @apply w-[35px] h-[5px] rounded-full bg-[#D9D9D9] absolute top-1/2 left-1/2;
      }
    }
  }
  .btn {
    @apply leading-10 px-6 py-0 bg-blue text-white text-sm font-medium rounded inline-flex gap-4 items-center justify-center cursor-pointer whitespace-nowrap hover:text-white  select-none;
    &.is-plain {
      @apply text-blue bg-white border border-blue;
    }
    &.is-transparent {
      @apply text-[#7C7C7C] bg-transparent border-transparent;
    }
    &.is-underlined {
      @apply underline underline-offset-4 bg-white text-blue hover:text-blue hover:no-underline px-0;
    }
    &.is-small {
      @apply leading-8;
    }
    &.is-large {
      @apply leading-[50px];
    }
  }
  h1,
  .h1 {
    @apply text-3xl mb-9 font-semibold;
  }
  h2,
  .h2,
  .title {
    @apply text-3xl font-semibold;
  }
  h2,
  .h2 {
    @apply mb-9;
  }
  h3,
  .h3 {
    @apply text-xl font-semibold;
  }
  nav .router-link-active {
    color: #e5a35b !important;
  }
  .title-lg {
    @apply text-4xl leading-[48px] uppercase font-extrabold mb-4;
  }
  .has-large .btn {
    line-height: 50px;
  }
  .pagination {
    @apply flex flex-wrap gap-2 text-xs mt-6;
    > button {
      @apply w-8 h-8 text-center block;
      &.active {
        @apply bg-[#cee7ec];
      }
    }
  }
  .ellipsis {
    @apply whitespace-nowrap text-ellipsis overflow-hidden;
  }
  .tabs {
    @apply max-w-[1100px];
    .tabs-header {
      @apply flex gap-10 items-end flex-1;
      .tab-arrow {
        @apply ml-auto sm:hidden;
      }
      .active .tab-arrow {
        @apply rotate-90;
      }
      div {
        @apply font-semibold sm:text-lightgray py-3 sm:text-xl cursor-pointer items-center flex gap-4 border-t border-b sm:border-transparent w-full;
        &.active {
          @apply sm:text-blue;
        }
      }
    }
    .tabs-content {
      @apply hidden py-4 text-sm;
      &.active {
        @apply block;
      }
    }
  }

  .note {
    @apply text-sm font-normal;
  }
  .label {
    @apply font-semibold text-sm;
    + .input-group {
      @apply mt-2.5;
    }
  }
  .label-wrap {
    @apply flex gap-6 cursor-pointer items-center relative justify-between;

    &:hover svg {
      @apply text-blue;
    }
  }
  .input-group {
    @apply flex border rounded overflow-hidden outline-none relative;
    border: 1.5px solid #a1a1a1;
    > button {
      border-radius: 0;
    }
    &:before {
      @apply absolute top-0 bottom-0 left-1/2 w-[1.5px] bg-lightgray;
      content: '';
    }
    > input,
    select {
      @apply leading-8 h-8 w-2 flex-1 bg-none text-black px-3 text-sm font-medium outline-none;
    }
  }
  .breadcrumbs {
    @apply text-xs text-gray-400 font-medium mt-4 mb-8 whitespace-nowrap overflow-auto;
    a,
    .a {
      @apply text-inherit inline-block;
      &:after {
        @apply mx-1;
        content: '/';
      }
    }
  }
  .count {
    @apply absolute -top-3 left-1/2 translate-x-1 bg-orange w-4 h-4 flex items-center justify-center text-[9px] text-white rounded-full;
  }
  .mobi-call,
  .mobi-button {
    @apply fixed right-4 top-[63px] z-[100] w-[44px] h-[44px] rounded-full bg-blue cursor-pointer  items-center justify-center hidden;
    color: white !important;
  }
  .mobi-button {
    @apply z-[300];
  }
  .container {
    @apply mx-auto px-5;
    max-width: 1540px !important;
  }
  .tags:empty {
    @apply hidden;
  }
  .card {
    @apply flex flex-col rounded relative p-5  hover:shadow h-[450px];

    &.height-sm {
      height: 350px;
    }
    &.height-xs {
      height: 200px;
    }
    .note {
      @apply flex items-center gap-10;
    }
    .items {
      @apply flex gap-2 mt-6  items-start justify-between;
      a {
        @apply flex flex-col gap-4 justify-center items-center text-sm text-center;
        &:hover {
          @apply text-blue;
          svg {
            @apply text-blue;
          }
        }
      }
    }
    .note {
      @apply text-black;
    }
    .info {
      @apply flex flex-col gap-4 absolute top-10 right-2 z-[1];
    }

    .price-info {
      @apply absolute bottom-5 left-5 right-5;
      > div {
        @apply flex items-center;
      }
      .btn svg {
        @apply absolute left-2 top-1/2 -translate-y-1/2;
      }
    }
    &.bg-coral,
    &.bg-cyan,
    &.bg-orange,
    &.bg-blue {
      .title,
      .title-lg {
        @apply text-white;
      }
    }
  }
  .tags {
    @apply flex flex-col gap-2;
    > div {
      @apply text-white  rounded w-[108px] text-center text-[10px] leading-[21px] max-w-[85px];
    }
  }

  .items {
    svg.ico {
      @apply h-6 object-contain;
    }
  }
  .mini-cart {
    @apply shadow-xl  w-[410px] z-[400] absolute bg-white px-6 py-2  -right-3 top-[63px];
  }
  .list-items-mini {
    @apply overflow-x-hidden  overflow-y-auto max-h-[308px] scrollbar-thin  scrollbar-thumb-[#D9D9D9] scrollbar-track-white;
    > div {
      @apply relative flex gap-6 w-full   py-2 text-[10px] border-b;
      &:first-child {
        @apply border-t;
      }
    }
    .add2cart {
      @apply h-[24px];
      a {
        display: none !important;
      }
    }
  }
  .list-items {
    > div {
      @apply border-b flex items-start md:items-center py-2 gap-6 lg:gap-10;
      &:first-child {
        @apply border-t;
      }
    }
    .name {
      @apply flex-1;
    }
    .price {
      @apply whitespace-nowrap;
    }
    .qty div {
      @apply h-[40px] flex min-w-[130px];
    }
  }
  .mode-2-items {
    @apply flex flex-col gap-2 py-[10px];
  }

  .mode-2-item {
    @apply border h-[50px] flex items-center justify-center px-6 bg-white text-center cursor-pointer rounded-[10px] text-[#00B3D7] font-medium relative;
    img {
      @apply absolute top-1/2 -translate-y-1/2 left-4;
    }
  }
  nav .nav-contact,
  nav .mode-2 {
    @apply hidden;
  }
  .mobile-logos {
    @apply w-11 h-10;
    background-image: url(/img/icons/mobile-logos.png);
  }
  .disabled {
    @apply opacity-50 pointer-events-none;
  }
  .order-area {
    .add2cart {
      @apply h-[40px];
    }
    .router-link-active {
      display: none !important;
    }
  }
  .icon {
    @apply w-7 h-7 bg-center bg-no-repeat bg-contain;
    &.icon-viber {
      background-image: url(/img/icons/viber.png);
    }
    &.icon-telegram {
      background-image: url(/img/icons/telegram.png);
    }
    &.icon-email {
      background-image: url(/img/icons/email.png);
    }
    &.icon-instagram {
      background-image: url(/img/icons/instagram.png);
    }
    &.icon-vk {
      background-image: url(/img/icons/vk.png);
    }
    &.icon-facebook {
      background-image: url(/img/icons/facebook.png);
    }
    &.icon-skype {
      background-image: url(/img/icons/skype.png);
    }
  }
  .simple-table {
    @apply leading-5 relative table-fixed w-full;
    td,
    th {
      @apply font-normal text-xs;
    }
    th {
      @apply bg-[#eee];
      padding: 7px 0;
    }

    td {
      padding: 7px 0;
    }
    tr + tr td {
      border-top: 1px solid #eee;
    }
  }
  .compare-table {
    @apply text-sm leading-5 relative table-fixed w-full;

    td,
    th {
      @apply font-normal;
    }

    td {
      padding: 10px 20px;
      border-bottom: 2px solid #eee;
    }
  }
  .box-maincat .it {
    @apply min-h-[296px] rounded border  py-5 px-2  hover:shadow relative overflow-hidden flex flex-col;
    .note {
      @apply text-xs font-light;
    }
    .img {
      @apply absolute right-0 bottom-0 z-[0];
    }
    .bg {
      @apply absolute bottom-0 right-0 z-[0];
    }
    .links {
      @apply mt-auto z-[2] lg:max-w-[70%] flex flex-wrap gap-1 pt-4;
      a {
        @apply text-xs font-medium rounded bg-[#E5A35B] leading-[20px] px-1 text-white lowercase inline-block;
      }
    }
    .title-sm {
      @apply text-[24px] text-[#CB863A] font-semibold my-1;
    }
  }
  .box-links .btn {
    @apply hidden;
  }
  .box-promo {
    @apply bg-[#EFEFEF] relative py-16 pt-6;
    .title {
      @apply text-2xl font-semibold mb-6;
    }
  }
  .with-icon {
    @apply relative pl-10;
    + .with-icon {
      @apply mt-6;
    }
    svg {
      @apply absolute top-1 left-0;
    }
    a {
      @apply block;
    }
  }
  main {
    @apply mb-[110px];
  }
  .is-scrolling {
    box-shadow: 0 0.9375rem 0.625rem -0.9375rem rgba(0, 0, 0, 0.16);
    .hide-if-scroll {
      width: 0;
    }
    .show-if-scroll {
      width: auto !important;
    }
  }
  .sticky-line {
    @apply bg-white z-20 top-0 sticky py-4;
    .graceful {
      transition: width 0.3s;
    }
    .show-if-scroll {
      width: 0;
    }

    .input {
      @apply pr-10  leading-[47px] border-2 border-[#A1A1A1];
    }
    .nav-links {
      @apply flex gap-6 text-sm;
      .a {
        @apply flex flex-col items-center justify-center gap-1 relative cursor-pointer hover:text-[#E5A35B]  h-[50px];
      }
    }
    a[href^='tel:'] {
      @apply text-blue text-3xl font-semibold  flex gap-3 items-center;
    }
  }
  footer {
    @apply bg-[#d9d9d9] font-light  text-xs py-16;
    a {
      @apply underline underline-offset-4 block;
    }

    .main-links {
      @apply flex flex-wrap gap-8 ml-12 max-w-[370px];
      a {
        @apply text-[16px] font-normal py-2 w-[95px];
      }
    }
  }
  .menu-button {
    @apply cursor-pointer;
  }
  .review-item {
    @apply flex;
    .review-control {
      @apply w-16 flex items-center justify-center;
      div {
        @apply cursor-pointer p-6;
      }
    }
    .review-content {
      @apply flex-1 bg-[#e5a35b]/10 rounded px-10 py-8 text-sm;
      p {
        @apply mb-4;
      }
    }
  }
  .reviews-summary {
    @apply mx-auto text-sm max-w-xs flex flex-col gap-1;
    > div {
      @apply flex gap-2 items-center;
      > div:nth-child(3) {
        @apply text-right w-8;
      }
      > div:nth-child(2) {
        @apply flex-1 relative h-2 rounded;
        background: rgba(0, 179, 215, 0.2);
        div {
          @apply absolute bg-blue rounded h-2 left-0;
        }
      }
    }
  }
  .menu {
    @apply text-sm font-bold py-10 absolute z-20 bg-white left-0 right-0 hidden;
    transform: translateY(1px);

    ul ul {
      @apply ml-4 font-normal mb-1;
      a {
        @apply py-0 leading-4;
      }
    }
    li {
      @apply mb-4;
    }
    .parentcat-icon {
      @apply ml-auto  flex items-center justify-center w-[60px] h-[60px] -mr-[20px];
    }
    .toggle-sublinks {
      @apply lg:hidden absolute -mt-[60px] right-0 cursor-pointer w-[60px] h-[60px] flex items-center justify-center;
    }

    .sublinks {
      @apply font-normal text-sm leading-tight;

      a {
        @apply py-[2px];
      }
    }
    .title {
      @apply border-b-2 border-[#E5A35B] inline-block pb-3 mb-3 text-2xl;
    }
    .items {
      @apply text-sm font-normal mr-6;
      > div {
        @apply border-b cursor-pointer leading-[60px] flex items-center gap-4 px-4 transition whitespace-nowrap;
        &.active {
          @apply bg-black/5;
        }
      }
      svg {
        @apply w-8;
      }
    }
    a {
      @apply py-1.5 flex gap-2 items-center;
      svg {
        @apply text-[#00B3D7];
      }
    }
  }
}
.cart-summary {
  @apply sticky top-[100px] lg:bg-[#E5A35B]/10 lg:px-6 py-4 flex flex-col gap-4 text-sm;
}

.help-trigger {
  width: 15px;
  height: 15px;
  display: inline-block;
  cursor: pointer;
  background: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2218%22%20height%3D%2218%22%3E%3Cpath%20fill%3D%22gray%22%20d%3D%22M10.91%205.633c-.404-.34-.957-.51-1.657-.51-.312%200-.644.035-.994.105-.35.07-.64.15-.868.237v.996h.05c.18-.113.43-.225.744-.336.314-.11.647-.166%201-.166.393%200%20.714.09.963.27.248.182.372.456.372.824%200%20.28-.052.51-.156.69-.104.182-.25.357-.44.526-.155.146-.356.29-.602.434-.246.144-.475.275-.686.396v1.49h.874v-1.1c.267-.153.52-.31.757-.474.237-.163.447-.337.63-.523.185-.19.334-.412.448-.66.114-.25.17-.534.17-.853%200-.555-.202-1.003-.607-1.344zM8.594%2011.51h.996v1.03h-.996z%22%2F%3E%3Cpath%20fill%3D%22gray%22%20d%3D%22M9%2018c-4.962%200-9-4.037-9-9%200-4.962%204.038-9%209-9%204.963%200%209%204.038%209%209%200%204.963-4.037%209-9%209zM9%201C4.59%201%201%204.59%201%209s3.59%208%208%208%208-3.59%208-8-3.59-8-8-8z%22%2F%3E%3C%2Fsvg%3E)
    0 0/100% 100% no-repeat;
  position: relative;
  opacity: 0.5;
  z-index: 5;
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;

  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 12px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: ' ';
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;

  opacity: 1;
}
@media screen and (max-width: 1500px) {
  h1,
  .h1,
  h2,
  .h2,
  .title {
    font-size: 1.475rem;
  }
}

@media screen and (max-width: 1280px) {
  body {
    font-size: 14px;
  }
  .box-stick-img {
    width: 100%;
    max-width: 500px;
  }
  .add2cart {
    .btn svg {
      display: none;
    }
    .cart-split {
      display: block;
    }
  }
  .profile-cont {
    @apply flex-wrap;
  }
  .profile-short {
    @apply min-w-full order-[99];
  }

  .box-lg {
    @apply mb-10;
  }
  .title-lg {
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
  }

  h1,
  .h1,
  h2,
  .h2,
  .title,
  .box-promo .title {
    font-size: 16px;
    line-height: 19px;
  }
  .box-subscribe {
    .links {
      display: none;
    }
    .btn {
      width: 100%;
    }
    .title {
      font-size: 14px;
      font-weight: 400;
    }
  }
  .box-links {
    .items {
      a {
        font-size: 12px !important;
        span span {
          display: none;
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .box-maincat .item {
    @apply col-span-2;
  }
  body .menu-opener {
    @apply block;
  }
  .mobi-call {
    @apply flex;
  }
  .box-scroll2 {
    scroll-margin-top: 60px;
  }
  .input {
    scroll-margin-top: 90px;
  }
  header {
    position: sticky;
    top: 0;
    z-index: 20;
    background: white;
    height: 60px;
    border-bottom: 1px solid #d9d9d9;
    .logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      overflow: hidden;
      height: 99%;
    }
    nav {
      position: absolute;
      top: -999px;
      left: 0;
      bottom: 60px;
      z-index: 200;
      background: #fff;
      right: 0;
      padding-left: 1.5rem;
      padding-right: 1.5rem;

      ul {
        display: flex;
        flex-direction: column;
        background: #fff;
        a {
          @apply leading-[50px]  block;
          padding: 0 !important;
        }
        li + li {
          @apply border-t;
        }
      }
    }
    nav + div {
      display: none !important;
    }
  }
  .sticky-line {
    position: absolute;
    top: -999px;
    .nav-links {
      position: fixed;
      bottom: 0;
      background: white;
      right: 0;
      left: 0;
      border-top: 1px solid #d9d9d9;
      padding: 0 2rem;
      justify-content: space-between;
      font-size: 12px;
      gap: 0;
      height: 60px;
      display: flex;
      align-items: center;
      z-index: 1000;
      a {
        gap: 0 !important;
        justify-content: center;
      }
    }
  }

  .card {
    box-shadow: none !important;
    .items a {
      gap: 3px !important;
    }
  }
  .card.more-padding {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .card.height-sm {
    height: 220px;
  }
  .card.height-xs {
    height: 115px;
  }
  .link-alt {
    transform: translateY(165px);
    .title-lg {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .box-links {
    height: auto !important;
    transform: translateY(-200px);
    height: 180px;
    svg {
      color: #000;
    }
    .btn {
      display: flex;
      max-width: 200px;
      margin-left: auto;
      margin-right: auto;
    }
    .title {
      display: none;
    }
  }
  .box-subscribe {
    height: auto !important;
    border-bottom: 1px silid #d9d9d9;
    .links {
      display: none;
    }
    input {
      text-align: center;
    }
  }
  .promo-link {
    background: none;
    height: auto;
    padding: 0 !important;
    img,
    .note {
      display: none;
    }
    .title {
      color: #000000 !important;
    }
  }

  .can-expand {
    padding: 0 !important;
    .card {
      border-radius: 0 !important;
    }
  }
  .link-alt {
    max-height: 200px;
  }
  .slider .swiper {
    border-radius: 0;
  }
  footer {
    padding-bottom: 100px !important;
  }
  body.with-open-menu {
    @apply overflow-hidden;
    .menu {
      display: block;
      position: fixed;
      top: 0;
      padding: 0;
      bottom: 61px;
      > .container > div {
        display: flex;
      }
      .sublinks-on {
        @apply rotate-90;
        + .sublinks {
          display: block !important;
        }
      }
      .mainmenu-item {
        .title {
          display: none;
        }

        ul {
          overflow-y: auto;
          height: calc(100vh - 190px);
        }
        li {
          @apply m-0 overflow-hidden px-[20px];
          a {
            @apply leading-[60px] border-b py-0;
          }
        }
        .sublinks {
          @apply py-[15px] border-b hidden;
          a {
            @apply border-0 leading-[25px];
          }
        }
      }
      .part-2 {
        display: none;
        margin: 0 -20px;
      }
      .open-substep {
        .part-2 {
          display: block;
        }
        .part-1 {
          display: none;
        }
      }
      .items {
        margin-right: 0;
        flex: 1;
        width: calc(100vw - 40px);
        > div {
          background: #fff !important;
          padding-left: 0;
          padding-right: 0;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .box-maincat .item {
    @apply col-span-1;
  }
  .list-items {
    > div {
      position: relative;
      padding-left: 100px;
      flex-direction: column;
      gap: 0;
      padding-top: 15px;
      padding-bottom: 15px;
    }
    .tags {
      display: block;
    }
    .img {
      position: absolute;
      left: 0;
      top: 15px;
    }
    .price {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row-reverse;
      gap: 10px;
    }
    .controls {
      position: absolute;
      top: 5px;
      right: 0;
      > div {
        padding-top: 0;
      }
    }
  }
  .products-grid .card-product {
    height: auto;
  }
  .card-product {
    width: calc(50vw - 34px);
    min-width: 290px;
    flex-shrink: 0;
  }
  .card-combo {
    width: calc(100vw - 58px);
    min-width: 290px;
    flex-shrink: 0;
  }
  .profile-short {
    @apply min-w-full order-[99];
    + div {
      @apply w-full max-w-full;
    }
  }
  .profile-img {
    @apply max-w-[100%] w-full;
  }
}
@media screen and (max-width: 640px) {
  .tabs .tabs-header {
    margin: 0 -20px;
    > div {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  textarea {
    height: 100px;
  }
  .ir {
    @apply mb-6;
  }
  .box-promo {
    @apply py-10;
    padding-top: 0 !important;
    .social-links {
      display: none;
    }
  }
  footer {
    @apply py-10;
  }
  .payment-logos {
    width: 100%;
    > img {
      height: auto;
    }
  }
  .card-logos {
    width: 100%;

    > img {
      max-width: calc(25% - 0.05rem);
      max-height: 40px;
      height: auto;
    }
  }
  .sticky-line .nav-links {
    @apply px-5;
  }
  .social-links {
    position: absolute;
    margin-top: 0;
    top: -55px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 40px;
  }

  .card {
    .note {
      gap: 0;
      justify-content: space-between;
      left: 0.75rem;
      right: 0.75rem;
    }
    .can-span {
      right: 1rem;
      left: 1rem;
      display: flex;
      justify-content: space-between;
      bottom: 16px !important;
    }
  }
  .card .items {
    a {
      span {
        @apply whitespace-nowrap text-ellipsis overflow-hidden;
      }
    }
  }
}
.has-table {
  @apply max-w-full overflow-auto;
  table td {
    @apply min-w-[250px] py-0.5;
  }
}
.text {
  p + p {
    @apply mt-4;
  }
  ul {
    @apply ml-4 list-disc;
  }
}
.text-wrap {
  @apply xl:max-w-[630px];
  .btn {
    @apply w-[225px] mt-8 xl:mt-20;
  }
}
.box-stick {
  @apply relative;
  clip-path: polygon(100% 0, 100% 200%, 50% 200%, 50% 100%, 0 100%, 0 0);
  img {
    @apply block mx-auto px-10;
  }
  .box-stick-wrap {
    @apply xl:sticky top-[100px];

    .in {
      @apply xl:absolute;
    }
  }
}

.temp {
  width: 1920px;
  position: absolute;
  top: -410px;
  left: 50%;
  transform: translate(-50%, 0px);
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .items-favorites .list-items {
    .price {
      flex-direction: column;
      gap: 0;
    }
  }
}
